<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h3>Search Result</h3>
		<br>
		<a class='btn btn-info' href='/reserve'>Back</a>
		<br>
		<%if(flight.flightnumber == undefined){%>
        <h3 style='color: red;'> There is no such flight, please try again! </h3>
		<%}else{%>
			<br>
			<h4>Flight Information</h4>
			<br>
			<div class='form-group row'>
				<div class='col-sm-1'></div>
				<div class='col-sm-2'>
					<h5>FlightNumber</h5>
				</div>
				<div class='col-sm-2'>
					<h5>From</h5>
				</div>
				<div class='col-sm-2'>
					<h5>To</h5>
				</div>
				<div class='col-sm-2'>
					<h5>Depart</h5>
				</div>
				<div class='col-sm-2'>
					<h5>Return</h5>
				</div>
				<div class='col-sm-1'></div>
			</div>
			<hr>
			<div class='form-group row'>
				<div class='col-sm-1'></div>
				<div class='col-sm-2'>
					<h5><%=flight.flightnumber%></h5>
				</div>
				<div class='col-sm-2'>
					<h5><%=flight.start%></h5>
				</div>
				<div class='col-sm-2'>
					<h5><%=flight.end%></h5>
				</div>
				<div class='col-sm-2'>
					<h5><%=flight.departure%></h5>
				</div>
				<div class='col-sm-2'>
					<h5><%=flight.arrival%></h5>
				</div>
				<div class='col-sm-1'></div>
			</div>
			<a class='btn btn-primary' href='/book/<%=flight.flightnumber%>/edit'>Book</a>
		<%}%>
	</div>
</div>

<%- include ('templates/footer'); -%>