<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h3>Your Flight Information</h3>
		<br>
		<a class='btn btn-info' href='/reserve'>Back</a>
		<br>
		<br>
			<div class='form-group row'>
				<div class='col-sm-2'>
					<h5>FlightNumber</h5>
				</div>
				<div class='col-sm-2'>
					<h5>From</h5>
				</div>
				<div class='col-sm-2'>
					<h5>To</h5>
				</div>
				<div class='col-sm-2'>
					<h5>Depart</h5>
				</div>
				<div class='col-sm-2'>
					<h5>Return</h5>
				</div>
			</div>
			<hr>
			<div class='form-group row'>
				<div class='col-sm-2'>
					<h5><%=flight.flightnumber%></h5>
				</div>
				<div class='col-sm-2'>
					<h5><%=flight.start%></h5>
				</div>
				<div class='col-sm-2'>
					<h5><%=flight.end%></h5>
				</div>
				<div class='col-sm-2'>
					<h5><%=flight.departure%></h5>
				</div>
				<div class='col-sm-2'>
					<h5><%=flight.arrival%></h5>
				</div>
			</div>
	</div>
</div>

<%- include ('templates/footer'); -%>